<div class="container space-between-div">
    <h3 class="">
        <strong>
            <%= label_tag "Olá, #{current_user.name}" %>
        </strong>
    </h3>
</div>

<div class="container space-top">
    <h4 class="">
        <strong>
            <%= label_tag "#{current_user.name}, continue assim, está indo muito bem!" %>
        </strong>
    </h4>
</div>